ion-content {
    --padding-start: 10%;
    --padding-end: 10%;
    --background: linear-gradient(to top, #6473FF 0%, #403ddc 100%);
}

ion-toolbar{
    --background: transparent;
}

ion-button{
    margin-top: 390px;
    --border-radius: 30px;
    --background: #F7D442;
    color: white;
    height: 50px;
}
ion-input{
    background-color: white;
    border-radius: 15px;
    color: blue;
    margin: 5px;
    margin-bottom: 25px;
    --padding-bottom: 125px;
}

h1{
    text-align: center;
    margin-bottom: 23px;
    font-family: 'Signika-Bold';
}
p{
    text-align: center;
    margin-bottom: 23px;
}