<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  
<ion-content>
  <h1>CREATE AN EVENT</h1>
  <p>Choose filters</p>
  <div class="filters">
  <ion-button>BCN</ion-button>
  <ion-button>GIR</ion-button>
  <ion-button>TGN</ion-button>
  <ion-button>LLEIDA</ion-button>
  <ion-button>CHILL</ion-button>
  <ion-button>ELEGANT</ion-button>
  <ion-button>PIJAMA P</ion-button>
  <ion-button>DANCE</ion-button>
  <ion-button>INFORMAL</ion-button>
  <ion-button>UNI</ion-button>
  <ion-button>+18</ion-button>
  <ion-button>+21</ion-button>
  <ion-button>+25</ion-button>
  <ion-button>+30</ion-button>
</div>
  <ion-button [routerLink]="['/tabs/tab3']" fill="clear" expand="block">Done</ion-button>
</ion-content>
