<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  
<ion-content>
  <h1>CREATE AN EVENT</h1>
  <p>Choose when</p>
  <ion-datetime value="2022-01-01T13:47:20.789"></ion-datetime>
  <ion-button [routerLink]="['/tabs/tab3/create-event/event-name/event-description/event-date/event-music']" fill="clear"  expand="block">Next</ion-button>
</ion-content>
