<ion-header>
  <ion-toolbar>
    <ion-title>Forgot your password?</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>FORGOT YOUR<br> PASSWORD?</h1>
  <div class="abellaforgot">
    <img src="../assets/abellaforgot.png" alt="abellaforgot" width="242px" height="175px">
  </div>
  <p>Enter your registered email below to <br>receive password reset instruction</p>
  <ion-input placeholder="Enter mail"></ion-input>
  <div class="sendbutton">
    <ion-button expand="block"[routerLink]="['/forgot-password/check-email']">Send</ion-button>
  </div>
 
</ion-content>
