ion-tab-bar{
    //--background: #6473FF;
    --background: transparent;
  //  --color: white;
    position: absolute;
    bottom: 0;
    left:0; right: 0;
    width: 100%; 
    border:0;
   // border-top-left-radius: 50px;
  //  border-top-right-radius: 50px;
  //  border-color: white;
    height: 90px;
    &:after{
        content: " ";
        width: 100%;
        bottom: 0;
        background: var(--ion-color-light);
        height: env(safe-area-inset-bottom);
        position: absolute;
    }
    
}
ion-tab-button{
    --background: #6473FF;
    --color: white;
    --color-selected: black;
}
ion-tab-button.grups{
    border-top-left-radius: 48px;
}
ion-tab-button.events{
    border-top-right-radius: 48px;
}