<ion-content>
  <h1>GROUPS</h1>
  
  <ion-fab class="creategroup" vertical="top" horizontal="end" slot="fixed" [routerLink]="['/create-group']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="buscargrups">
  <ion-searchbar animated></ion-searchbar>
  </div>
  
  <div class="groupy">
    <div class="group-box" *ngFor="let g of groups" [routerLink]="['/group-opened', g.id]">
    <div class="header">
      <ion-grid >
        <ion-row>
          <ion-col size=30%>
            <img src="{{g.acf.bee.url}}" width="62px" height="46px"/>
          </ion-col>
          <ion-col>
            <h2>{{g.title.rendered}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>  
    <div class="names">
      <div class="name" *ngFor="let u of g.acf.users">
        <img src="{{u.foto}}">
       <p> {{u.nickname}}</p>
      </div>
    </div>
    
  </div>
  </div>
</ion-content>
