ion-content{
    --padding-start: 25px;
    --padding-end: 25px;
    --padding-top: 60px;
    --padding-bottom:60px;
}

ion-toolbar{
    --background: transparent;
}

h1{
    font-family: 'Signika-Bold';
    font-size: 32px;
    padding-bottom: 38px;
    text-align:center;
}
p{
    font-size: 14px;
    text-align:center;
    padding-bottom: 32px;
    font-weight: bold;
}
ion-button{
    --background: #9BA5F8;
    --color: white;
    --border-radius:15px;
    height: 50px;
    margin-bottom:20px;
}
.deleteaccount{
    --background: #F7D442;
    --color: white;
    --border-radius:30px;
    height: 50px;
    margin-bottom:20px;
    font-weight: bold;
    margin-top: 140px;
}