<ion-header>
  <ion-toolbar>
    <ion-title>Account settings</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>ACCONUT <br>SETTINGS</h1>
  <p>Change your account settings</p>
  <ion-button type="button" expand="block" fill="clear" [routerLink]="['/#']">Privacity
  </ion-button>
  <ion-button type="button" expand="block" fill="clear" [routerLink]="['/#']">Security
  </ion-button>
  <ion-button type="button" expand="block" fill="clear" [routerLink]="['/#']">Verification
  </ion-button>
  <ion-button type="button" expand="block" fill="clear" [routerLink]="['/#']">Change number
  </ion-button>
  <ion-button type="button" expand="block" fill="clear" [routerLink]="['/#']">Change password
  </ion-button>
  <ion-button class="deleteaccount" expand="block" [routerLink]="['/#']" fill="clear">Delete account</ion-button>
</ion-content>
