<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>

  <h1>CREATE AN EVENT</h1>
  <p>Select the group creator</p>
  <ion-button [routerLink]="['/tabs/tab3/create-event/event-name']" fill="clear" expand="block">Next</ion-button>
</ion-content>

