<!-- Slide 1 -->
<ion-content>
<ion-slides>
<ion-slide>
  <div class="logointro">
  <img src="../assets/logo_webee.png" alt="logotip" width="90px" height="110px">
</div>
    <h1> WELCOME TO<br> WEBEE</h1>
    <div class="bucadill">
    <img src="../assets/bucadill.png" alt="bucadill" width="326px" height="119px">
  </div>
    <div class="abellaintro">
    <img src="../assets/abellanewpassword.png" alt="abellaforgot" width="242px" height="175px">
  </div>
    <ion-button class="tapnext" (click)="next()" expand="block" fill="clear">Next</ion-button>
</ion-slide>

<!-- Slide 2 -->
<ion-slide>
  <h1>ARE YOU READY TO <br>MAKE EVENTS AND<br> NEW FRIENDS?</h1>
  <div class="introo">
  <img src="../assets/slide2.png" alt="slide2" width="249px" height="497px">
</div>
<ion-button class="tapnext" (click)="start()" expand="block" fill="clear">Next</ion-button>
</ion-slide>
</ion-content>