ion-content {
    --padding-top: 60px;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: linear-gradient(to top, #6473FF 0%, #403ddc 100%);
}

ion-input{
    --background: white;
    margin-bottom:20px;
    border-radius: 15px;
    height: 42px;;
    border-style:none;
    color: #403ddc;

}

ion-button{
    --color: white;
    --background:#9BA5F8;
    --border-radius: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.sendbutton{
   text-align: center;
}

h1{
    text-align:center;
    font-family: "Signika-Bold";
    font-size: 32px;
    padding-bottom: 55px;
}
.abellapassword{
    text-align: center;
    padding-bottom: 40px;
}
p{
    padding-bottom: 45px;
    text-align: center;
    font-size: 16px;
}
h2{
    padding-bottom:10px;
    font-size: 13px;
}
.password{
    padding-bottom:25px;
}
.sendbutton{
   text-align: center;
   padding-top: 45px;
   padding-bottom: 60px;
}
