<ion-header>
  <ion-toolbar>
    <ion-title>Create new password</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>CREATE NEW<br> PASSWORD</h1>
  <div class="abellapassword">
    <img src="../assets/abellanewpassword.png" alt="abellaforgot" width="242px" height="175px">
  </div>
  <p>Your new password must be different<br> from previously used passwords</p>
  <h2>New password:</h2>
  <div class="password">
  <ion-input type="password" placeholder="Enter password"></ion-input>
  </div>  
  <h2>Confirm new password:</h2>
  <div class="password">
  <ion-input type="password" placeholder="Repeat password"></ion-input>
  </div>
  <div class="sendbutton">
    <ion-button expand="block" [routerLink]="['/login']" >Create</ion-button>
  </div>
</ion-content>
